nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.fixed-bottom
  .container
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbar.collapse.navbar-collapse
      ul.navbar-nav.mx-auto.mt-2.mt-md-0.justify-content-center.scale-in-hor-center
        li 
          strong='</coded> '
          | with &#128151; by 
          strong Alessandro Romanelli
