nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
  .container
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbar.collapse.navbar-collapse
      ul.navbar-nav.mx-auto.mt-2.mt-md-0.justify-content-center.scale-in-hor-center
        li.nav-item
          a.nav-link.animsition-link(href='/about') ABOUT
        li.nav-item.title-header.font-weight-bold.active
          a.nav-link.animsition-link(href='/') | AR |
        li.nav-item
          a.nav-link.animsition-link(href='/projects') PROJECTS
          
