extends layout

block content
  .animsition.h-100(data-animsition-in-class="fade-in-left-lg", data-animsition-in-duration="500", data-animsition-out-class="fade-out-left-lg", data-animsition-out-duration="750")
    .container.mt-5
      .name-title(style='height: 100%')
        .display-3.title-header.text-white About me
        hr.mt-0.mb-2.bg-faded.justify-content-start.ml-0(width='600')
        .subtitle-header.text-white WEB ENTHUSIAST & LIFE LONG LEARNER
      .biography.text-white.mt-3.pl-0.col-md-8.text-justify
        p Born in 1994, in southern Ticino, Switzerland, I've always been fond of technology and, in particular, videogames. 
        p With 20, I joined the Swiss Armed Forces and volunteered to become an Infantry Officer 
          | and where I had the chance to lead large groups of people.
        p In late December 2016, I started my Web Developer training. After six-months of hard work and studying to catch up with the latest frameworks and innovations I finally became a 
          a(href='#', data-toggle='modal', data-target='#techdegreeModal') Treehouse Graduate.
        p Starting from September 2017 I'll be studying Computer Science at the University of Lugano for at least three years.
    include ./includes/modal
